<table>
<td>
  <b><%= comment.commenter %>:</b>
  
  <%= comment.body %>
</td>
 
 <td>
  <%= link_to 'Delete', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</td>
</table>