<%#this view isn't used in the project %>

<table>
<td>
  <b><%= comment.commenter %>:</b>
  
  <%= comment.body %>
</td>
 
 <td>
  <u> <%= link_to 'Delete', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %> 
  </u>
</td>
</table>