
<%# cooments are sorted by time of creation %>
<table >

 <% @post.comments.order('created_at desc').each do |comment| %>
    <tr>
      <td class = "small"> <%= comment.commenter %>, <%= time_created_at(comment) %>  </td>
      <td> <%= simple_format comment.body %> </td>
       <td >
       <u class = "small"> <%= link_to 'Удалить', [comment.post, comment],
         :confirm => 'Вы уверены?',
         :method => :delete %> 
       </u>
       </td>
    </tr>
<% end %>

</table>