
<%# cooments are sorted by time of creation %>
<div class="comments">
<table>
 <% @post.comments.order('created_at desc').each do |comment| %>
    <tr>
      <td class = "name_date"> <div> <%= comment.commenter %>, <%= time_created_at(comment) %> </div> </td>
      <td> <%= comment.body %> </td>
       <td >
       <u class = "small_font"> <%= link_to 'Удалить', [comment.post, comment],
         :confirm => 'Вы уверены?',
         :method => :delete %> 
       </u>
       </td>
       </div>
    </tr>
<% end %>
</table>
</div>