/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


*{
  font-family: Verdana;
}

h1, h2, h3 {
	font-weight: normal;
    text-align: left;
    margin: 0px;
}

h1{
  font-size: 2.0em;
}

h2{
  font-size: 1.6em;
}

h3{
  font-size: 1.2em;
}

body {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: #fff;
    color: #333;
    font-size: 13px;
    line-height: 18px;
  }

td{

  border:0px;
	padding-right: 0.4em;
	padding-left: 0.4em;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

td.name_date{
  width:13em;
}

td.title{
  width:18em;
}



table{
  border:0px;
  border-spacing:0px;
  border-collapse: collapse;
}

table.posts{
  width:100%;
}

table.comments{
  width:74em;
}

.small{
	font-size: 0.8em;
} 

a {
  text-decoration: none; 
  color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #000;
    background-color: #fff;
    text-decoration: underline; 
  }
}

